/* #Main {
  background: linear-gradient(
    45deg,
    hsl(240, 40%, 16%),
    hsl(240, 40%, 50%),
    hsl(240, 40%, 10%)
  );
  color: white;
} */

/* https://www.thebostoncalendar.com/system/events/photos/000/026/871/original/Party_Dream_Color_party.jpg?1443946618 */

#Main {
  background-image: url("https://images.unsplash.com/photo-1512371997389-59a346dffe8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
 
  
}

#sign-up {
  font-size: xx-large;
}

#learn-more {
 background-color: yellow;
}
